/* Enhanced CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px; /* Default root size */
    font-size: 100%;

}

body {
    line-height: 1.5;
    color: #333;
    background: #ebe9e1;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

ol, ul, menu {
    list-style: none;
}

button, input, select, textarea {
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
    background: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: inherit;
    text-decoration: none;
}





/* -------------------------------------------------------- */


main {
    background-color: #ebe9e1;
    width: 100%;
    min-height: 100vh; /* Minimum height of 100% of the viewport height */
    height: auto;      /* Allows the content to grow beyond the min-height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* CIRCLES AS BACKGROUND */

.circle {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to bottom right, rgba(234, 51, 43, 1), rgb(75, 186, 223));
    filter: blur(50px); /* Apply blur effect */
    opacity: 1; /* Semi-transparent for soft blending */
    z-index: 0;
  }
  
  .circle.one {
    width: 30vw; /* 30% of viewport width */
    height: 30vw;
    top: 30%;
    left: 0%;
  }
  
  .circle.two {
    width: 30vw; /* 30% of viewport width */
    height: 30vw;
    top: 10%;
    left: 70%;
    transform: rotate(30deg);
  }
  
  .circle.three {
    width: 30vw; /* 30% of viewport width */
    height: 30vw;
    top: 60%;
    left: 55%;
    transform: rotate(180deg);
  }


/* NAVIGATION BAR */

nav {
    background-color: #ebe9e1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
}

nav p {
    padding-left: 5%;
    font-family: "Vollkorn", serif!important;
    font-weight: 900;
    font-style: italic;
    font-size: 3rem;
    color:#ea322b;
}

nav .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    padding-right: 5%;
    
}

nav li {
    margin: 0 1rem;
  }

a {
    color: inherit; /* Inherits the text color from the parent element */
    text-decoration: none; /* Removes the underline */
}

a:hover {
    color: #ea322b;
}

/* Main Description */

.main-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    z-index: 2;
    padding-bottom: 15%;
}

.main-me h1 {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    font-size: 4rem;
    color:#ea322b;
}

.main-me p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
}
